.apps__card--size{
    width: 6rem; 
    height: 80px;
}
.card--transform:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.modal--depth{
    z-index: 100;
}
.modal__background--color{
    background-color: rgba(38, 38, 38, 0.4);
}
.modal__content--margin{
    margin-top: 80px;
}
.die__results--length{
    max-width: 65ch;
}
.logIn--cursor{
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
@media only screen and (min-width: 976px){
    .apps__footer--position{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
}