.us__card--size{
    width: 95%;
    max-width: 300px;
}
.us__img--size{
    width: 100%;
    max-width: 299px;
}
.us__img--borderLeft{
    border-radius: 30px 0 0;
}
.us__img--borderRight{
    border-radius: 30px 0 0;
}
.us__orboCard--size{
    width: 95%;
    max-width: 300px;
}
.us__orboPic--size{
    width: 50%;
}
.us__orboImg--size{
    width: 100%;
    max-width: 149px;
    max-height: 149px;
}
@media only screen and (min-width: 768px) {
    .us__card--size{
        width: 95%;
        max-width: 700px;
    }
    .us__img--size{
        max-height: 300px
    }
    .us__img--borderRight{
        border-radius: 0 0 30px;
    }
    .us__orboCard--size{
        width: 95%;
        max-width: 700px;
    }
    .us__orboPic--size{
        width: unset;
    }
    .us__orboImg--size{
        height: 100%;
        max-width: 160px;
        max-height: 160px;
    }
    .card__body--size{
        width: 50%;
    }
    .us__img--borderOrbo{
        border-radius: 0 0 30px;
    }
}
@media only screen and (min-width: 1400px) {
    .us__orboCard--size{
        width: 95%;
        max-width: 1000px;
    }
    .us__orboImg--size{
        width: auto;
        height: auto;
        max-width: unset;
        max-height: 257px;
    }
    .card__body--size{
        width: 25%;
    }
}